#north-arrow {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 130px;
    height: 130px;
    z-index: 1000;
    cursor: pointer;
}

#north-arrow img {
    width: 100%;
    height: 100%;
}